body,.App,#root,html{
  height: 100vh;
  background-color: #ecf0f8;
}
.main-box {
  height: calc(100vh - 110px);
  padding: 0 10px;
  background-color: #ecf0f8;
  .down-box{
    margin-top: 30px;
  }
  .list-group-item{
    display: block;
  }
}


.menu-right {
  padding: 15px;
  box-shadow: 0 0 13px 1px #b7bdc3;
  background-color: #ffffff;
  span {
    font-size: 1em;
  }
  p {
    font-size: 0.7em;
  }
}

.card-box {
  cursor: pointer;
  .card {
    border: red;
  }
}
.orang {
  border-bottom-style: solid;
  border-bottom-color: rgb(236, 157, 128);
}
.orang {
  border-bottom-style: solid;
  border-bottom-color: rgb(246, 66, 0);
}
.green {
  border-bottom-style: solid;
  border-bottom-color: rgb(48, 168, 11);
}
.blue {
  border-bottom-style: solid;
  border-bottom-color: rgb(11, 21, 168);
}
