.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-header {
  height: 110px;
  width: 100%;
  background-color: #36459f;
  // padding: 5px;
  .header-box-r {
    padding: 35px;
    color: white;
    font-size: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .header-box-l {
    background-color: #4458ae;
    width: 100%;
    height: 110px;
    padding: 0;
    .header-box-l-top {
      width: 100%;
      height: 50%;
    }
    .header-box-l-butttom {
      width: 100%;
      height: 50%;
      background-color: #7483c7;
    }
  }
}

body {
  direction: rtl;
}
